/************************************************************************************************************************************************
************************************************************************

Filename: style.css
Author: Cristian Muller
Copyright: 2023 - All rights reserved

************************************************************************************************************************************************
************************************************************************/


/**********************************************************************

==================
Table of Contents
==================
1. HTML Body Styles

**********************************************************************/

/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

body {
    background-color: rgba(234, 225, 214, 0.85)!important;
}


@media (max-width: 1024px) {
    body {
        background-color: rgb(185, 132, 132)!important;
    }
}


@media (max-width: 600px) {
    body {
        background-color: rgb(66, 66, 66)!important;
    }

    footer {
        color: white;
    }
}